version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "@types/three"
      - dependency-name: "three"
      - dependency-name: "@react-three/fiber"
